<template>
  <div :id="containerId" class="d-block"></div>
</template>

<script>
import { World } from '@/assets/lifegame'
import _ from 'lodash'
import { defineGrid, extendHex } from 'honeycomb-grid'

export default {
  name: 'Display',
  props: {
    world: {
      type: World,
      required: true
    },
    cellSize: {
      type: Number,
      default: 10
    }
  },
  data() {
    const containerId = 'gameworld'

    return {
      containerId,
      svgContainer: null
    }
  },
  watch: {
    cells() {
      this.updateWorld()
    },
    worldSize() {
      this.drawWorld()
    }
  },
  computed: {
    cells() {
      return _.flatten(this.world.cells)
    },
    worldSize() {
      return {
        width: this.cellSize * this.world.width,
        height: this.cellSize * this.world.height
      }
    }
  },
  mounted() {
    this.svgContainer = this.$svg(this.containerId)
    this.drawWorld()
  },
  methods: {
    updateWorld() {
      const self = this
      let cellIndex = 0
      this.svgContainer.each(index => {
        if (cellIndex >= self.cells.length) {
          return
        }
        const elem = this.svgContainer.get(index)
        if (_.includes(['use', 'rect'], elem.type)) {
          if (self.cells[cellIndex++].status === 'alive') {
            elem.addClass('alive')
          } else {
            elem.removeClass('alive')
          }
        }
      })
    },
    drawWorld() {
      this.svgContainer.clear()
      const self = this
      if (this.world.hexagon) {
        let pos = null
        const Hex = extendHex({
          size: { xRadius: this.cellSize / 2, yRadius: this.cellSize / 2 }
        })
        const Grid = defineGrid(Hex)
        const corners = Hex().corners()
        const hexSymbol = this.svgContainer
          .symbol()
          .polygon(corners.map(({ x, y }) => `${x},${y}`))
        Grid.rectangle({
          width: this.world.width,
          height: this.world.height
        }).forEach((hex, index) => {
          pos = hex.toPoint()
          const elem = self.svgContainer.use(hexSymbol).translate(pos.x, pos.y)
          elem.click(() => {
            self.onClickCell(index)
            elem.toggleClass('alive')
          })
        })
        this.svgContainer.size(pos.x + this.cellSize, pos.y + this.cellSize)
      } else {
        this.svgContainer.size(this.worldSize.width, this.worldSize.height)
        this.cells.forEach((cell, index) => {
          const elem = self.svgContainer
            .rect(self.cellSize, self.cellSize)
            .move(self.cellSize * cell.column, self.cellSize * cell.row)
          elem.click(() => {
            self.onClickCell(index)
            elem.toggleClass('alive')
          })
        })
      }
      this.updateWorld()
    },
    onClickCell(index) {
      const cell = this.cells[index]
      let next = ''
      if (cell.status === 'alive') {
        next = 'dead'
        this.world.incrementDeadCells()
      } else {
        next = 'alive'
        this.world.incrementAliveCells()
      }
      this.world.cells[cell.row][cell.column].status = next
      this.$emit('update:world', this.world)
    }
  }
}
</script>

<style lang="scss">
rect,
use {
  fill: #fff;
  stroke-width: 1px;
  stroke: #eee;
  &.alive {
    fill: #000;
  }
}
</style>
